/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 3%;
  background: linear-gradient(135deg, #9d6a89, #6c756b);
  color: #f2f4ff;
}

h1 {
  margin-bottom: 30px;
}

/* Background SVG Styling */
svg {
  align-self: center;
  height: 50%;
  width: 50%;
  margin: auto;
  fill: #96c5f7;
}
/* Logo */
.logo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 75px;
  font-family: "Bebas Neue", cursive;
  color: ;
}

#spark {
  height: 75px;
  width: 53px;
  cursor: pointer;
}

polygon {
  pointer-events: none;
}

.menu-heading {
  display: none;
}

.menu-panel.expanded > .logo > .menu-heading {
  margin: 3px;
  display: contents;
}

.menu-panel.expanded > .logo {
  width: 130px;
}

/* Menu Panel */

.menu-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 90vh;
  background-color: rgba(18, 18, 18, 0.25);
  border-radius: 20px;
  padding: 5px;
  transition: 250ms ease;
}
.menu-panel.expanded {
  width: clamp(250px, 25vw, 350px);
  border-radius: 20px;
  transition: 500ms ease;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.menu-panel.expanded > .menu-section {
  align-items: flex-start;
  padding-left: 20px;
}

/* Menu Content */

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 3px 0 0 0px;
}

.menu-panel.expanded > .menu-item {
  padding: 3px 0 0 20px;
  justify-content: flex-start;
}

/* menu icons */

.fas,
.fab {
  width: 30px;
  margin-right: 8px;
  text-align: center;
}

/* Close Expansion Icon */

#hide {
  display: none;
}

.menu-panel.expanded > #hide {
  display: inline;
  position: absolute;
  padding: 8px;
  top: 30px;
  right: 10px;
  cursor: pointer;
}
